@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700;800&display=swap');

body {
  margin-top: 2rem;
  font: 100% "Karla", "Trebuchet MS", sans-serif;
}

.sidebar {
  width: 25%;
  height: 25vh;
  min-height: 200px;
  overflow: auto;
  position: sticky;
  top: 5%;
}

.main {
  width: 60%;
  height: 200vh;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
}

.main,
.sidebar {
  border: 5px solid #222;
  background-color: white;
  border-radius: 10px;
  color: #222;
  padding: 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}